@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="container">
        <div class="wrapper">


            <div>



                <!-- quote_block, for when no skyscraper-->
                <div class="quote_block">
                    <div>
                        <h1><span>İşleyişi Anlat</span><br>
                            fotoyu çek, kitabı ekle vs..<br />
                            <span>&nbsp;&nbsp;resim falan koy</span></h1>
                        <p>
                            Books you'll stay up all night reading; books that will whisk you to faraway places and times, books that will expand your mind and inspire you -- the kinds of books you just can't wait to tell your friends about.<br>
                            <a href="/information/index.cfm/fuseaction/about/">Find out more</a>.
                        </p>
                    </div>
                    <!-- /quote_block -->

                    <!-- quote_block for when there is a skyscraper -->

                    <!-- /quote_block -->

                </div>
                <!-- /quote_block -->

                <!-- become_member -->
                <div class="become_member">
                    <h4>Üye OL!</h4>
                    <p>Kendi Kitabını Kendin Ekle</p>
                    <p><a href="/join" class="button">Find out more!</a></p>
                </div>
                <!-- /become_member -->

                <!-- newsletter_block -->
                <div class="newsletter_block">
                    <h4>Burayı Düşünelim</h4>
                    <p>Receive a free twice-monthly <a href="/newsletter/recommends">newsletter</a></p>
                    <p><a href="/mailman##top" class="button red">Subscribe</a></p>
                </div>


                <!-- /newsletter_block -->


                 <!-- EN ÇOK OY OLAN KİTAPLAR, KİTAP RESİMLERİ?   -->
                
                
                <!-- editors_choice   -->
                <div class="editors_choice">
                    <ul>

                        <li>
                            <h2>Editor's Choice</h2>
                            <figure>
                                <a href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3037/the-ten-thousand-things" title="The Ten Thousand Things">
                                    <img src="/images/jackets/1468308327.jpg" alt="Book Jacket: The Ten Thousand Things" />
                                </a>
                                <figcaption>
                                    <p>
                                        <strong><a class="newgreen" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3037/the-ten-thousand-things" title="The Ten Thousand Things">The Ten Thousand Things</a></strong>
                                        <br>
                                        by John Spurling
                                    </p>
                                    <p><strong>BookBrowse Review:</strong><br />
                                        It might have been the ancient Greek philosopher Socrates who once said that an unexamined life is not worth living, but his lessons are remarkably well applied in the novel, ...</p>
                                    <p>
                                        <span class="powered">
                                            <img src="/site/images/icons/powered.png" alt="" />Book Reviewed by:<br />
                                            <a href="http://www.bookbrowse.com/reviewers/index.cfm/fuseaction/details/reviewer_number/56">Poornima Apte</a>
                                        </span>
                                        <a class="button" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3037/the-ten-thousand-things">Read more</a>
                                    </p>
                                </figcaption>
                            </figure>
                            <div class="readlikes">
                                <p>Readlikes</p>

                                <ol>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2986/orfeo" title="view details">Orfeo</a><br>
                                        by Richard Powers<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2770/the-garden-of-evening-mists" title="view details">The Garden of Evening Mists</a><br>
                                        by Tan Twan Eng<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2830/the-painted-girls" title="view details">The Painted Girls</a><br>
                                        by Cathy Marie Buchanan<br />
                                    </li>

                                </ol>
                            </div>
                        </li>

                        <li>
                            <h2>Editor's Choice</h2>
                            <figure>
                                <a href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3040/astoria" title="Astoria">
                                    <img src="/images/jackets/9780062218292.jpg" alt="Book Jacket: Astoria" />
                                </a>
                                <figcaption>
                                    <p>
                                        <strong><a class="newgreen" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3040/astoria" title="Astoria">Astoria</a></strong>
                                        <br>
                                        by Peter Stark
                                    </p>
                                    <p><strong>BookBrowse Review:</strong><br />
                                        In 1784, twenty-one-year-old John Jacob Astor left his home in Walldorf, Germany and came to the fledgling United States to make his fortune in an unknown land. He quickly ...</p>
                                    <p>
                                        <span class="powered">
                                            <img src="/site/images/icons/powered.png" alt="" />Book Reviewed by:<br />
                                            <a href="http://www.bookbrowse.com/reviewers/index.cfm/fuseaction/details/reviewer_number/16">Kim Kovacs</a>
                                        </span>
                                        <a class="button" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3040/astoria">Read more</a>
                                    </p>
                                </figcaption>
                            </figure>
                            <div class="readlikes">
                                <p>Readlikes</p>

                                <ol>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2187/blood-river" title="view details">Blood River</a><br>
                                        by Tim Butcher<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2980/glorious-misadventures" title="view details">Glorious Misadventures</a><br>
                                        by Owen Matthews<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/1083/the-age-of-gold" title="view details">The Age of Gold</a><br>
                                        by H.W. Brands<br />
                                    </li>

                                </ol>
                            </div>
                        </li>

                        <li>
                            <h2>Editor's Choice</h2>
                            <figure>
                                <a href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3039/family-life" title="Family Life">
                                    <img src="/images/jackets/9780393060058.jpg" alt="Book Jacket: Family Life" />
                                </a>
                                <figcaption>
                                    <p>
                                        <strong><a class="newgreen" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3039/family-life" title="Family Life">Family Life</a></strong>
                                        <br>
                                        by Akhil Sharma
                                    </p>
                                    <p><strong>BookBrowse Review:</strong><br />
                                        In the 70s when author Akhil Sharma was just eight, his family emigrated to the United States. For a while it looked like the American dream was well within reach, but then ...</p>
                                    <p>
                                        <span class="powered">
                                            <img src="/site/images/icons/powered.png" alt="" />Book Reviewed by:<br />
                                            <a href="http://www.bookbrowse.com/reviewers/index.cfm/fuseaction/details/reviewer_number/56">Poornima Apte</a>
                                        </span>
                                        <a class="button" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3039/family-life">Read more</a>
                                    </p>
                                </figcaption>
                            </figure>
                            <div class="readlikes">
                                <p>Readlikes</p>

                                <ol>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/1839/just-in-case" title="view details">Just In Case</a><br>
                                        by Meg Rosoff<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2704/see-you-at-harrys" title="view details">See You at Harry's</a><br>
                                        by Jo Knowles<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2043/the-brief-wondrous-life-of-oscar-wao" title="view details">The Brief Wondrous Life of Oscar Wao</a><br>
                                        by Junot Diaz<br />
                                    </li>

                                </ol>
                            </div>
                        </li>

                        <li>
                            <h2>Editor's Choice</h2>
                            <figure>
                                <a href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3045/the-ballad-of-a-small-player" title="The Ballad of a Small Player">
                                    <img src="/images/jackets/9780804137973.jpg" alt="Book Jacket: The Ballad of a Small Player" />
                                </a>
                                <figcaption>
                                    <p>
                                        <strong><a class="newgreen" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3045/the-ballad-of-a-small-player" title="The Ballad of a Small Player">The Ballad of a Small Player</a></strong>
                                        <br>
                                        by Lawrence Osborne
                                    </p>
                                    <p><strong>BookBrowse Review:</strong><br />
                                        In <i>The Ballad of a Small Player</i>, the dark and elegantly crafted second novel by Lawrence Osborne (following <a href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/2779/the-forgiven#reviews"><i>The Forgiven</i></a>), readers experience the world of high-stakes gambling...</p>
                                    <p>
                                        <span class="powered">
                                            <img src="/site/images/icons/powered.png" alt="" />Book Reviewed by:<br />
                                            <a href="http://www.bookbrowse.com/reviewers/index.cfm/fuseaction/details/reviewer_number/46">Elena Spagnolie</a>
                                        </span>
                                        <a class="button" href="http://www.bookbrowse.com/mag/reviews/index.cfm/book_number/3045/the-ballad-of-a-small-player">Read more</a>
                                    </p>
                                </figcaption>
                            </figure>
                            <div class="readlikes">
                                <p>Readlikes</p>

                                <ol>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2634/1q84" title="view details">1Q84</a><br>
                                        by Haruki Murakami<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/1049/fragrant-harbor" title="view details">Fragrant Harbor</a><br>
                                        by John Lanchester<br />
                                    </li>

                                    <li><a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2778/its-fine-by-me" title="view details">It's Fine By Me</a><br>
                                        by Per Petterson<br />
                                    </li>

                                </ol>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- /editors_choice -->
            </div>
            <!-- /home_qmne_wrap -->

            <!-- publishing_soon -->
            <!-- this was coded as 'publishing soon' but pulls top picks didn't want to change anything other than the title just in case of messing things up, DMW -->
            <div class="publishing_soon">
                <h3>Bu Hafta Eklenen Kitapları Koyalım</h3>
                <ul>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2801/gone-girl" title="Gone Girl">
                            <img src="/images/jackets-p/9780307588371.jpg" alt="Book Jacket: Gone Girl"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2825/the-burgess-boys" title="The Burgess Boys">
                            <img src="/images/jackets-p/0812979516.jpg" alt="Book Jacket: The Burgess Boys"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2874/the-shelter-cycle" title="The Shelter Cycle">
                            <img src="/images/jackets-p/9780544289635.jpg" alt="Book Jacket: The Shelter Cycle"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2872/hour-of-the-red-god" title="Hour of the Red God">
                            <img src="/images/jackets-p/1250043638.jpg" alt="Book Jacket: Hour of the Red God"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/3041/i-see-you-made-an-effort" title="I See You Made an Effort">
                            <img src="/images/jackets/9780399166181.jpg" alt="Book Jacket: I See You Made an Effort"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/3042/mister-owitas-guide-to-gardening" title="Mister Owita's Guide to Gardening">
                            <img src="/images/jackets/9780399157981.jpg" alt="Book Jacket: Mister Owita's Guide to Gardening"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/3040/astoria" title="Astoria">
                            <img src="/images/jackets/9780062218292.jpg" alt="Book Jacket: Astoria"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2847/out-of-the-easy" title="Out of The Easy">
                            <img src="/images/jackets-p/9780147508430.jpg" alt="Book Jacket: Out of The Easy"></a>

                    </li>

                    <li>
                        <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/3028/the-pope-and-mussolini" title="The Pope and Mussolini">
                            <img src="/images/jackets/9780812993462.jpg" alt="Book Jacket: The Pope and Mussolini"></a>

                    </li>

                </ul>
            </div>
            <!-- /publishing_soon -->


            <!-- banner_left -->
            <div class="banner_left">

                <a href="/jump/redir.cfm?adid=741" target="_top" rel="nofollow">
                    <img src="/banners/light.gif" alt="The Light in the Ruins" border="0" align="absmiddle" width="300px" height="250px"></a>


                <div class="spacer"></div>

            </div>
            <!-- /banner_left -->

            <!-- find_book -->
            <div class="find_book">
                <h4>Find a book</h4>
                <p>Find Your Next Great Read!</p>
                <ul>

                    <li><a class="fiction" href="http://www.bookbrowse.com/category/index.cfm/tc/1">Fiction</a></li>
                    <li><a class="nonfiction" href="http://www.bookbrowse.com/category/index.cfm/tc/2">Non-Fiction</a></li>
                    <li><a class="mysteries" href="http://www.bookbrowse.com/category/index.cfm/tc/20">Mysteries<br />
                        &amp; Thrillers</a></li>
                    <br />
                    <li><a class="ya" href="http://www.bookbrowse.com/category/index.cfm/tc/3">Young Adults</a></li>

                </ul>
            </div>
            <!-- /find_book -->

            <!-- banner_right -->
            <div class="banner_right">

                <a href="/join">
                    <img src="/banners/bb_ad_1b.gif" title="join BookBrowse!"></a>

            </div>
            <!-- /banner_right -->


            <!-- quote_block2 -->
            <div class="quote_block2">
                <p>Discover your next great read here.<span>We're readers just like you.</span></p>
            </div>
            <!-- /quote_block2 -->

            <!-- discuss_book -->
            <div class="discuss_book">
                <div class="obcbook">
                    <ul>

                        <li>
                            <figure>
                                <h5>Discuss this book</h5>

                                <a href="http://www.bookbrowse.com/bb_briefs/detail/index.cfm/ezine_preview_number/9442/sailor-twain" title="Sailor Twain">
                                    <img src="/images/previews_images/1596439262.jpg" alt="Book Jacket" /></a>
                                <figcaption>
                                    <p>
                                        <b>Graphic Novel</b>
                                        <br>
                                        <br>
                                        One hundred years ago. On the foggy Hudson River, a riverboat captain rescues an injured mermaid from the waters of the busiest port in the United States. A ...
                                    </p>
                                    <p><a href="http://www.bookbrowse.com/booktalk/threads.cfm?forumid=7036B0AC-5056-A34B-625B14B83D358B46" class="button float_right">Join the discussion!</a></p>
                                </figcaption>
                            </figure>
                        </li>

                    </ul>
                </div>

                <div class="more">
                    <p>More Discussions</p>
                    <ol>

                        <li><a href="http://www.bookbrowse.com/booktalk/threads.cfm?forumid=8A5476C8-5056-A34B-625F6B34511DAA20" class="arrow">&nbsp;</a><span>170</span><strong><a href="http://www.bookbrowse.com/booktalk/threads.cfm?forumid=8A5476C8-5056-A34B-625F6B34511DAA20">The Weight of Blood</a>:</strong><br />
                            Laura McHugh</li>

                        <li><a href="http://www.bookbrowse.com/booktalk/threads.cfm?forumid=8891E7EB-5056-A34B-62A960E0B805C8B7" class="arrow">&nbsp;</a><span>225</span><strong><a href="http://www.bookbrowse.com/booktalk/threads.cfm?forumid=8891E7EB-5056-A34B-62A960E0B805C8B7">A Constellation of Vital Phenomena</a>:</strong><br />
                            Anthony Marra</li>

                        <li><a href="http://www.bookbrowse.com/booktalk/threads.cfm?forumid=C21E93E7-5056-A34B-62FF7F81EC177323" class="arrow">&nbsp;</a><span>143</span><strong><a href="http://www.bookbrowse.com/booktalk/threads.cfm?forumid=C21E93E7-5056-A34B-62FF7F81EC177323">Happier at Home</a>:</strong><br />
                            Gretchen Rubin</li>

                    </ol>
                    <p><a href="/booktalk">All Discussions</a></p>
                </div>
            </div>
            <!-- /discuss_book -->

            <!-- win_book -->
            <!-- win_book -->

            <div class="info_block win_book">
                <h5>Win this book!</h5>

                <img src="/images/previews_images/1476704589.jpg" alt="Win The Steady Running of the Hour" />
                <p><strong>The Steady Running of the Hour</strong></p>
                <p>"Exciting, emotionally engaging and amibtious. I loved it!" - Kate Mosse</p>
                <p><a href="http://www.bookbrowse.com/giveaway/" class="button">Enter</a></p>

            </div>

            <!-- /win_book -->
            <!-- /win_book -->

            <!-- latest_news -->
            <div class="latest_news small clear">
                <h5>Latest Book News</h5>
                <ul>

                    <li>
                        <strong><a href="http://www.bookbrowse.com/news/detail/index.cfm?news_item_number=1574" title="News Story">First ever California Book Day - a triumph!</strong> (May 05 2014)</a>
                    </li>

                    <li>
                        <strong><a href="http://www.bookbrowse.com/news/detail/index.cfm?news_item_number=1573" title="News Story">News Corp/Harper Collins buying Harlequin</strong> (May 02 2014)</a>
                    </li>

                </ul>
                <p><a href="/news" class="button blue">More News</a></p>
            </div>
            <!-- /latest_news -->

            <!-- first_imp_reviews -->
            <div class="first_imp_reviews clear">
                <h3>First Impressions</h3>
                <ul class="clear">

                    <li>
                        <figure>
                            <a href="http://www.bookbrowse.com/bb_briefs/detail/index.cfm/ezine_preview_number/9181/a-paris-apartment" title="A Paris Apartment">
                                <img src="/images/previews_images/1250048737.jpg" alt="Book Jacket">
                            </a>
                            <figcaption>
                                <p><strong>A Paris Apartment</strong><br />
                                    by Michelle Gable</p>
                                <div class="rating">
                                    <div id="fourstar"></div>
                                </div>
                                <p>Published April 2014</p>

                                <p><a href="http://www.bookbrowse.com/arc/arc_reviews/detail/index.cfm/arc_number/458/a-paris-apartment">Read Member Reviews</a></p>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure>
                            <a href="http://www.bookbrowse.com/bb_briefs/detail/index.cfm/ezine_preview_number/9276/mimi-malloy-at-last" title="Mimi Malloy, At Last!">
                                <img src="/images/previews_images/1250041546.jpg" alt="Book Jacket">
                            </a>
                            <figcaption>
                                <p><strong>Mimi Malloy, At Last!</strong><br />
                                    by Julia MacDonnell</p>
                                <div class="rating">
                                    <div id="fourstarh"></div>
                                </div>
                                <p>Published April 2014</p>

                                <p><a href="http://www.bookbrowse.com/arc/arc_reviews/detail/index.cfm/arc_number/459/mimi-malloy-at-last">Read Member Reviews</a></p>
                            </figcaption>
                        </figure>
                    </li>

                </ul>
                <p>Members read and review books before they're published. <a href="/arc">See what they'll be reviewing soon</a>.</p>
            </div>
            <!-- /first_imp_reviews -->

            <div class="clear"></div>

            <!-- word_play -->
            <div class="info_block word_play">
                <h5>Word Play</h5>


                <p><strong>Solve this clue:</strong></p>

                <p class="clear"><a href="http://www.bookbrowse.com/wordplay/" class="button blue">I T T O A Eye</a></p>

                <p>and be entered to win..</p>

            </div>
            <!-- /word_play -->

            <!-- book_recommendations -->
            <div class="book_recommendations">
                <h5>Book Club Recommendations</h5>
                <ul>

                    <li>
                        <figure>
                            <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2843/the-woman-upstairs">
                                <img src="/images/jackets-p/9780307743763.jpg" alt="The Woman Upstairs Book Jacket"></a>
                            <figcaption>
                                <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2843/the-woman-upstairs"><strong>The Woman Upstairs</strong></a><br>
                                by Claire Messud
					<div class="spacer"></div>
                                <div class="rating">
                                    <div id="fivestar"></div>
                                </div>
                                <p>The riveting confession of a woman awakened, transformed, and betrayed by passion and ...</p>
                                <p>
                                    <span class="powered">
                                        <img src="/site/images/icons/powered.png" alt="" />Book Reviewed by<br />
                                        <a href="http://www.bookbrowse.com/reviewers/index.cfm/fuseaction/details/reviewer_number/56">Poornima Apte</a>
                                    </span>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure>
                            <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2866/amity-sorrow">
                                <img src="/images/jackets-p/0316220876.jpg" alt="Amity & Sorrow Book Jacket"></a>
                            <figcaption>
                                <a href="http://www.bookbrowse.com/reviews/index.cfm/book_number/2866/amity-sorrow"><strong>Amity & Sorrow</strong></a><br>
                                by Peggy Riley
					<div class="spacer"></div>
                                <div class="rating">
                                    <div id="fivestar"></div>
                                </div>
                                <p><i>Amity & Sorrow</i> is a story about God, sex, and farming. It's an unforgettable journey into ...</p>
                                <p>
                                    <span class="powered">
                                        <img src="/site/images/icons/powered.png" alt="" />Book Reviewed by<br />
                                        <a href="http://www.bookbrowse.com/reviewers/index.cfm/fuseaction/details/reviewer_number/59">Sharry Wright</a>
                                    </span>
                            </figcaption>
                        </figure>
                    </li>

                </ul>
            </div>
            <!-- /book_recommendations -->

            <!-- Featured Book Club -->
            <div class="info_block bookclub float_right_block">
                <h5>Featured Book Club</h5>

                <p>
                    <a href="http://www.bookbrowse.com/featured-bookclubs/" title="featured book club/">
                        <img src="/images/bookclubs/2014-3-19-PrePub-Group.jpg" alt="featured bookclub" /></a>
                </p>

            </div>
            <!-- /info_block -->

            <div class="clear"></div>

            <!-- info_block -->
            <div class="info_block">
                <h5>Recent Blog Entries</h5>

                <p><a href="http://www.bookbrowse.com/blogs/Editor/#Should Authors Respond to Reviewers? by Catherine McKenzie"><b>Should Authors Respond to Reviewers? by Catherine McKenzie</b></a></p>

                <p><a href="http://www.bookbrowse.com/blogs/Editor/#Just Say No to Plot Spoilers"><b>Just Say No to Plot Spoilers</b></a></p>

                <p><a href="/blogs/editor/" class="button float_right">Read More</a></p>
            </div>
            <!-- /info_block -->

            <!-- recent_reader_reviews -->
            <div class="recent_reader_reviews">
                <h5>Recent Reader Reviews</h5>
                <ul>

                    <li>
                        <p>
                            <strong>Vanishing Acts</strong><br />
                            by Jodi Picoult<br>
                            <br>
                            “Vanishing Acts” not only takes you on a journey through Delia’s eyes, but also through those of her loved ones- Her father, fiancé, and best friend. Delia is a strong ...<br>
                            <a href="http://www.bookbrowse.com/reader_reviews/index.cfm/book_number/1576/vanishing-acts#readerreviews">read more</a>
                        </p>
                    </li>

                    <li>
                        <p>
                            <strong>Sold</strong><br />
                            by Patricia McCormick<br>
                            <br>
                            I read this book for my 11th grade english class. Even though I was aware of sex slavery and human trafficking before, this is yet again another eye opener. Such a ...<br>
                            <a href="http://www.bookbrowse.com/reader_reviews/index.cfm/book_number/1876/sold#readerreviews">read more</a>
                        </p>
                    </li>

                    <li>
                        <p>
                            <strong>Where'd You Go, Bernadette</strong><br />
                            by Maria Semple<br>
                            <br>
                            Where’d You Go, Bernadette? is the second novel by American author and TV writer, Maria Semple. When Bernadette Fox disappears two days before Christmas and a scheduled ...<br>
                            <a href="http://www.bookbrowse.com/reader_reviews/index.cfm/book_number/2816/whered-you-go-bernadette#readerreviews">read more</a>
                        </p>
                    </li>

                    <li>
                        <p>
                            <strong>The Storied Life of A. J. Fikry</strong><br />
                            by Gabrielle Zevin<br>
                            <br>
                            I totally loved this book.. It takes place in a small bookstore in an out of the way town.   It is a little bit of everything, love story, family saga.  The characters ...<br>
                            <a href="http://www.bookbrowse.com/reader_reviews/index.cfm/book_number/3027/the-storied-life-of-a-j-fikry#readerreviews">read more</a>
                        </p>
                    </li>

                    <li>
                        <p>
                            <strong>The Storied Life of A. J. Fikry</strong><br />
                            by Gabrielle Zevin<br>
                            <br>
                            This book was, hands down, a gem.  From page one Zevin had me involved in a whirlwind of full bodied characters and I couldn't put the book down until I finished.  There ...<br>
                            <a href="http://www.bookbrowse.com/reader_reviews/index.cfm/book_number/3027/the-storied-life-of-a-j-fikry#readerreviews">read more</a>
                        </p>
                    </li>

                    <li>
                        <p>
                            <strong>The Storied Life of A. J. Fikry</strong><br />
                            by Gabrielle Zevin<br>
                            <br>
                            A must-read for people who truly love books. To quote from the book: &quot;Bookstores attract the right kind of folk. Good people...And I like talking about books with ...<br>
                            <a href="http://www.bookbrowse.com/reader_reviews/index.cfm/book_number/3027/the-storied-life-of-a-j-fikry#readerreviews">read more</a>
                        </p>
                    </li>

                </ul>
            </div>
            <!-- /recent_reader_reviews -->

            <!-- give_membership -->
            <div class="info_block give_membership float_right_block">
                <h5>Give a BookBrowse Membership</h5>
                <p>A BookBrowse Membership is the ideal gift for your book loving friends and family.</p>
                <p><a href="/gift_certificate" class="button red">Give a Gift Membership</a></p>
            </div>
            <!-- /give_membership -->
            <!-- quote_block3 -->

            <div class="quote_block quote_block3">
                <div>
                    <div class="desc">
                        <p><i>Books that</i><span>inspire you.</span>Handpicked.</p>
                        <p>Books you'll stay up all night reading;  books that will whisk you to faraway places and times, books that will expand your mind and inspire you -- the kinds of books you just can't wait to tell your friends about. </p>
                    </div>
                    <div class="social">

                        <h5>Newsletter</h5>
                        <p>Subscribe to receive a free weekly email about new books</p>
                        <form method="post" action="/mailman/index.cfm#top">
                            <p>
                                <input type="text" name="ea" /><input type="submit" value="Subscribe" class="button red" /></p>
                        </form>

                        <ul>
                            <li><a id="facebook" class="addthis_button_facebook_follow" addthis:userid="bookbrowse">
                                <img src="/images/spacer.gif"></a></li>
                            <li><a id="twitter" class="addthis_button_twitter_follow" addthis:userid="bookbrowse">
                                <img src="/images/spacer.gif"></a></li>
                            <li><a id="pinterest" class="addthis_button_pinterest_follow" addthis:userid="bookbrowse">
                                <img src="/images/spacer.gif"></a></li>
                            <li><a id="rss" class="addthis_button_rss_follow" addthis:url="http://www.bookbrowse.com/rss/">
                                <img src="/images/spacer.gif"></a></li>
                            <li><a id="email" href="/mailman" title="Subscribe">
                                <img src="/images/spacer.gif"></a></li>
                        </ul>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>

            <!-- /quote_block3 -->


            <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=bookbrowse">
	var addthis_config = {"data_track_addressbar":false};
	var addthis_share = {url_transforms : {clean: true, remove: ['fb_xd_fragment'] } };
            </script>
        </div>
    </div>